<div class="container" style="width: 450px;">

  <div class="text-right border mt-2 bg-dark">
    <p class="display-3 text-light mr-4">{{currDisplay}}</p>
  </div>

 <div  class="border p-2" align="center" >
   <div class="row pb-3 pt-3">
     <div class="col-3"><button class="btn btn-light text-primary pl-3 pr-3 pt-3 pb-3 btn-block" (click)="display('+')">+</button></div>
     <div class="col-3"><button class="btn btn-light text-primary pl-3 pr-3 pt-3 pb-3 btn-block" (click)="display('-')">-</button></div>
     <div class="col-3"><button class="btn btn-light text-primary pl-3 pr-3 pt-3 pb-3 btn-block" (click)="display('*')">*</button></div>
     <div class="col-3"><button class="btn btn-light text-primary pl-3 pr-3 pt-3 pb-3 btn-block" (click)="display('/')">/</button></div>
   </div>

   <div class="row pb-3 ">
    <div class="col-9 ">
      <div class="row pb-3">
        <div class="col-4"><button class="btn btn-light p-3 btn-block" (click)="display('7')">7</button></div>
        <div class="col-4"><button class="btn btn-light p-3 btn-block" (click)="display('8')">8</button></div>
        <div class="col-4"><button class="btn btn-light p-3 btn-block" (click)="display('9')">9</button></div>
      </div>
      <div class="row pb-3">
        <div class="col-4"><button class="btn btn-light p-3 btn-block" (click)="display('4')">4</button></div>
        <div class="col-4"><button class="btn btn-light p-3 btn-block" (click)="display('5')">5</button></div>
        <div class="col-4"><button class="btn btn-light p-3 btn-block" (click)="display('6')">6</button></div>
      </div>
      <div class="row pb-3">
        <div class="col-4"><button class="btn btn-light p-3 btn-block" (click)="display('1')">1</button></div>
        <div class="col-4"><button class="btn btn-light p-3 btn-block" (click)="display('2')">2</button></div>
        <div class="col-4"><button class="btn btn-light p-3 btn-block" (click)="display('3')">3</button></div>
      </div>
      <div class="row pb-3">
        <div class="col-4"><button class="btn btn-light p-3 btn-block" (click)="display('0')">0</button></div>
        <div class="col-4"><button class="btn btn-light p-3 btn-block" (click)="display('.')">.</button></div>
        <div class="col-4"><button class="btn btn-danger p-3 btn-block" (click)="reset()">.AC</button></div>
      </div>
    </div>
    <div class="col-3 pb-3 " (click) = "calculator()">
      <div class="bg-primary text-light h-100 p-3 rounded"><p class="mt-5 pt-5">=</p></div>
    </div>

  </div>

 
 </div>
</div>

